/* Globals */

body,
div,
ul,
li,
p {
  padding:0;
  margin:0;
  font-family: 'EB Garamond', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', sans-serif;
}

body {
  background-color: #f4f2f1;
}

.clear-fix {
  overflow: auto;
}

h1 {
  font-size: 40px;
  color: #4d2600;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #4d2600;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #4d2600;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4d2600;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #9da3ac;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

ul {
  list-style-type: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

/* Colors */

.dark-text {
  color: #4d2600;
}

.white-text {
  color: #f4f2f1;
}

.green {
  background-color: #aaa1a1;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}


/* General Classes */

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-item {
  float:left;
  list-style: none;
}

.clear {
  clear:both;
}

.center-content {
  padding: 2.5% 5%;
}

/* Specific Elements/Classes */

#main {
  max-width: 960px;
  margin: 0 auto;
  opacity: 0.99;
}

#header {
  padding: 0 0 5px 0;
}

#header-box {
  width: 100%;
  height: 700px;
  background: url("../images/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header-text {
  position: relative;
  text-align: center;
  margin: 0 auto;
  top: 600px;
  color: white;
}

#header-text h1 { 
  color: white;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

.biopic {
  padding: 10px;
  width: 200px;
  display: none;
}

#welcome-message {
  padding-top: 10px;
  text-align: justify;
}

#skills-h3 {
  color: #4d2600;
  display: none;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }

  #header-box {
    height: 450px;
  }

  #header-text {
    top: 350px;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

@media only screen and (min-width: 1380px) {
  #header-box {
    background-position: center top;
  }
}
